
.divs_container{
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
}
.divs_container > div{
  cursor: pointer;
  padding: 10px 50px;
  border: 1px solid black;
}

.div_checked{
  border-color: red;
  background-color: red;
}